doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
        block header
    body
        .topnav
            a(href="/products" class=( path === '/products' ? 'active' : '' )) Products
            a(href="/products/addpath" class=( path==='/products/addpath' ? 'active' : '' )) Add Product
            a(href="/products/list" class=( path==='/users/list' ? 'active' : '' )) Update Products
            a(href="/cart" class=( path === '/cart' ? 'active' : '' )) Add to cart
            a(href="/cart/inCart" class=( path==='/products/inCart' ? 'active' : '' )) In Cart

        .container.mt-3
            block content
        block scripts
