body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #65c1a6;
    color: black;
}

.topnav a.active {
    background-color: #65c1a6;
    color: black;
}

.bg-teal{
    background-color: #20c99752!important;
}

.bg-light-gray{
    background-color: lightgray!important;
}